src/main/mule/mc-salesforcelead-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="mc-salesforcelead-sapiFlow" doc:id="5bb33e51-310b-4546-afed-9b3a3cf700ae" >
		<http:listener doc:name="Listener" doc:id="a76e7dab-206c-4826-b8b4-d42249041ea9" config-ref="HTTP_Listener_config" path="lead"/>
		<logger level="INFO" doc:name="Lead Started" doc:id="ece99ad0-9ee5-40a6-a800-920e4f738735" message='#["Lead Request Fetched"]'/>
		<set-variable value="#[payload]" doc:name="Store Lead Request" doc:id="de010a06-35c0-41a0-ab5e-652901457f5c" variableName="leadRequest"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="7c98a28d-6461-461a-b897-afc31acf5dd0" idExpression="#[payload.email]" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="5dc43684-1f05-4927-aa16-396b26eb3e46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
    {
        Lead_id__c: payload.lead_id,
        FirstName: payload.firstName,
        LastName: payload.lastName,
        Email: payload.email,
        Phone: payload.mobile,
        Company: payload.company
    }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try"
     doc:id="40943ae7-29c6-4b65-828c-85c469f8a2df"
     transactionalAction="ALWAYS_BEGIN">

    <logger level="INFO"
            doc:name="Transaction Start"
            doc:id="d51d311f-2692-4708-8873-4d0371090163"
            message='#["Transaction Started"]'/>

    <salesforce:create
            doc:name="Create Lead Record in Salesforce"
            doc:id="d9d740d3-739d-4056-99cf-a48aa3b8a1d8"
            config-ref="Salesforce_Config"
            type="Lead"/>

    <logger level="INFO"
            doc:name="SalesForce Created Response"
            doc:id="e0da3653-bf8b-4347-b7fe-0c4fa3915548"
            message='#["Salesforce Response = " ++ write(payload,"application/json")]'/>

    <set-variable
            variableName="leadid"
            value="#[payload.items[0].id]"
            doc:name="Store Created Lead Id"
            doc:id="57cc8d90-31b4-4c40-aa33-880f4e177e87"/>

    <logger level="INFO"
            doc:name="Inserted in SalesForce"
            doc:id="a3cf467b-c013-4fdb-9d63-8e16452399b5"
            message='#["Lead Created Successfully"]'/>

    <db:insert
            doc:name="Insert Lead Record"
            doc:id="509ea914-8af4-45ba-aee1-2c133bdeb2f2"
            config-ref="Database_Config">

        <db:sql><![CDATA[
INSERT INTO lead
(
  lead_id,
  "firstName",
  "lastName",
  gender,
  email,
  mobile,
  company
)
VALUES
(
    :lead_id,
    :firstName,
    :lastName,
    :gender,
    :email,
    :phone,
    :company
)
]]></db:sql>

        <db:input-parameters><![CDATA[
#[{
    lead_id: vars.leadRequest.lead_id,
    firstName: vars.leadRequest.firstName,
    lastName: vars.leadRequest.lastName,
    gender: vars.leadRequest.gender,
    email: vars.leadRequest.email,
    phone: vars.leadRequest.mobile,
    company: vars.leadRequest.company
}]
]]></db:input-parameters>

    </db:insert>

    <logger level="INFO"
            message='#["Lead Inserted into Local Database"]'/>

    <error-handler>

        <on-error-propagate
                type="DB:*"
                enableNotifications="true"
                logException="true"
                doc:name="Rollback Salesforce">

            <logger level="ERROR"
                    message='#["Database Error : " ++ error.description]'/>

            <choice doc:name="Salesforce Rollback">

                <when expression="#[vars.leadid != null]">

                    <logger level="INFO"
                            message='#["Rolling Back Salesforce Lead : " ++ vars.leadid]'/>

                    <salesforce:delete
                            doc:name="Delete Created Lead"
                            config-ref="Salesforce_Config">

                        <salesforce:ids><![CDATA[#[[vars.leadid]]]]></salesforce:ids>

                    </salesforce:delete>

                    <logger level="INFO"
                            message='#["Salesforce Rollback Successful"]'/>

                </when>

                <otherwise>

                    <logger level="INFO"
                            message='#["Salesforce Rollback Not Required"]'/>

                </otherwise>

            </choice>

            <raise-error
                    type="APP:TRANSACTION_ROLLBACK"
                    description="Database Insert Failed. Salesforce Transaction Rolled Back"/>

        </on-error-propagate>

        <on-error-propagate
                type="SALESFORCE:*"
                enableNotifications="true"
                logException="true"
                doc:name="Salesforce Error">

            <logger level="ERROR"
                    message='#["Salesforce Error : " ++ error.description]'/>

            <raise-error
                    type="APP:SALESFORCE_ERROR"
                    description="Failed to Create Salesforce Lead"/>

        </on-error-propagate>

        <on-error-propagate
                type="ANY"
                enableNotifications="true"
                logException="true"
                doc:name="Unexpected Error">

            <logger level="ERROR"
                    message='#["Unexpected Error : " ++ error.description]'/>

            <choice>

                <when expression="#[vars.leadid != null]">

                    <salesforce:delete
                            config-ref="Salesforce_Config">

                        <salesforce:ids><![CDATA[
#[[vars.leadid]]
]]></salesforce:ids>

                    </salesforce:delete>

                </when>

            </choice>

            <raise-error
                    type="APP:TRANSACTION_FAILED"
                    description="Transaction Failed"/>

        </on-error-propagate>

    </error-handler>

</try>
		<ee:transform doc:name="Inserted Response" doc:id="8b10321e-0c55-40ac-930e-429535cbb675" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Status: true,
	message: "Transaction Inserted Successfully in SalesForce Lead and Database Lead"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Transaction Completed" doc:id="12a0c085-75e9-4109-8e8c-40b143c17541" message='#["Transaction Successfully Completed"]'/>
		<error-handler>

    <on-error-propagate
            type="APP:SALESFORCE_ERROR"
            enableNotifications="true"
            logException="true"
            doc:name="Salesforce Error">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Salesforce Error : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="503"/>

        <ee:transform doc:name="Prepare Salesforce Error Response">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 503,
    message : "Salesforce Service Unavailable",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

    <on-error-propagate
            type="APP:TRANSACTION_ROLLBACK"
            enableNotifications="true"
            logException="true"
            doc:name="Transaction Rollback">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Transaction Rollback : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="500"/>

        <ee:transform doc:name="Prepare Rollback Response">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 500,
    message : "Transaction Rolled Back Successfully",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

    <on-error-propagate
            type="APP:TRANSACTION_FAILED"
            enableNotifications="true"
            logException="true"
            doc:name="Transaction Failed">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Transaction Failed : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="500"/>

        <ee:transform doc:name="Prepare Transaction Failed Response">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 500,
    message : "Transaction Failed",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

    <on-error-propagate
            type="DB:*"
            enableNotifications="true"
            logException="true"
            doc:name="Database Error">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Database Error : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="503"/>

        <ee:transform doc:name="Prepare Database Error Response">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 503,
    message : "Database Service Unavailable",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

    <on-error-propagate
            type="SALESFORCE:*"
            enableNotifications="true"
            logException="true"
            doc:name="Salesforce Connector Error">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Salesforce Connector Error : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="503"/>

        <ee:transform doc:name="Prepare Connector Error Response">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 503,
    message : "Salesforce Connector Error",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

    <on-error-propagate
            type="ANY"
            enableNotifications="true"
            logException="true"
            doc:name="Internal Server Error">

        <logger level="ERROR"
                doc:name="Logger"
                message='#["Unexpected Error : " ++ error.description]'/>

        <set-variable variableName="httpStatus" value="500"/>

        <ee:transform doc:name="Prepare Internal Server Error">
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success : false,
    status : 500,
    message : "Internal Server Error",
    error : error.description,
    timestamp : now()
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </on-error-propagate>

</error-handler>
	</flow>
	<flow name="mc-salesforcelead-sapiFlow1" doc:id="88b5479c-0f61-4200-b53b-77fff7e85247" >
		<http:listener doc:name="Listener" doc:id="574920cb-1158-4d1b-baa3-3739f81709e0" config-ref="HTTP_Listener_config" path="localLead"/>
		<logger level="INFO" doc:name="Lead Request Start" doc:id="11bf32ec-098e-4f60-bcce-1c865803d1ce" message='#["Lead Started"]'/>
		<set-variable value="#[payload]" doc:name="Store Lead Payload" doc:id="8eb4cfd7-99c9-4c55-bbb4-c05b6fcd5731" variableName="leadRequest" />
		<idempotent-message-validator doc:name="Validate LeadId" doc:id="6fdb5f00-2bc5-4f22-ba65-b378b1f1c9f2" idExpression="#[payload.lead_id]" objectStore="Object_store"/>
		<try doc:name="Try" doc:id="0a9c8f57-65bf-4c7e-928b-84b9e95b048d" transactionalAction="ALWAYS_BEGIN">
			<logger level="INFO" doc:name="Logger" doc:id="df6330b8-9663-47c4-a618-d11926878ced" message='#["Transaction Started"]'/>
			<db:insert doc:name="Insert" doc:id="09f00032-dc40-468f-9026-b9085088a3ea" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO lead 
(
  lead_id,
  "firstName",
  "lastName",
  gender,
  email,
  mobile,
  company
)VALUES
(
	:lead_id,
	:firstName,
	:lastName,
	:gender,
	:email,
	:phone,
	:company
)]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	lead_id: payload.lead_id,
	firstName: payload.firstName,
	lastName: payload.lastName,
	gender: payload.gender,
	email: payload.email,
	phone: payload.mobile,
	company: payload.company
}]]]></db:input-parameters>
			</db:insert>
			<logger level="INFO" doc:name="Logger" doc:id="eb855261-cfed-4aff-9374-2dbc9978b41b" message='#["Response : " ++ write(payload,"application/json")]'/>
			<db:select doc:name="Select" doc:id="1b41b9c3-0f96-45df-a491-f71229b18c97" config-ref="Database_Config">
				<db:sql ><![CDATA[select * from lead where lead_id = :lead_id]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	leadid: vars.leadRequest.leadid
}]]]></db:input-parameters>
			</db:select>
			<logger level="INFO" doc:name="Logger" doc:id="2f8eb77f-e58b-4bc3-b752-2d8da49ce5e3" message='#["Transaction Success"]'/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="473af68d-0b92-423a-b79c-fd2867022fad" >
					<ee:transform doc:name="Transform Message" doc:id="7555264c-e7e3-4518-b563-ed6713c1ed72" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0 
output application/java
---
{
	Status: false,
	message: "Transaction Rollback"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="b907fb7c-377d-476f-bbb6-c8d0e1f4bba5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0 
output application/json
---
{
	Status: true,
	message: "Transaction Successfully completed", 
	data: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c476f9dd-0d30-441f-9104-8fece75581d2" message='#["Transaction Finished"]'/>
	</flow>
</mule>
